@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7FBF8;
  --foreground: #1A1D1C;
  --primary: #006B44;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121413;
    --foreground: #E2E3E1;
    --primary: #8DE3B5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

@layer components {
  .glass {
    @apply backdrop-blur-2xl bg-white/70 dark:bg-zinc-900/60 border border-white/20 dark:border-white/10;
  }

  .btn-bounce {
    @apply transition-transform active:scale-95 duration-100;
  }
}

/* Скроллбар как в Android */
::-webkit-scrollbar {
  width: 0px;
}
